@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Insofter<br />
    Sklodowskie Curie 55-61<br />
    Wrocław<br />
    Telefon    <abbr title="Phone">884 796 444</abbr>
</address>

<address>
    <strong>Wsparcie email:</strong>   <a href="mailto:insofter@insofter.pl">insofter@insofter.pl</a><br />
    <strong>Aplikacja do</strong>   <a href="http://www.insofter.pl/itech/app/install.html">przeglądania dokumentów</a><br />
</address>