InstrukcjeProdukcyjne/InstrukcjeProdukcyjne/obj/Debug*
ITechInstrukcjeModel/bin/Debug/*
ITechInstrukcjeModel/obj/Debug/*
ITechSite/ITechService/bin/Debug/*
ITechSite/ITechService/obj/Debug/*
InstrukcjeProdukcyjne/InstrukcjeProdukcyjne/bin/Debug/app.publish/InstrukcjeProdukcyjne.exe
*.cache
*.dll
*.pdb
bin
obj
ITechService/obj/Debug/ITechService.pdb
Deploy/ITechSite.zip
*.suo
ITechSite/bin/ITechSite.dll
*.pdb
ITechSite/bin/ITechSite.dll
*.pdb
Deploy/ITechSite.deploy.cmd
*.pdb
*.suo
*.exe
*.pdb
*.dll
InstrukcjeProdukcyjne/InstrukcjeProdukcyjne/bin/Debug/InstrukcjeProdukcyjne.application
*.exe