*.cache
*.dll
*.pdb
bin
obj
InstrukcjeProdukcyjne/InstrukcjeProdukcyjne/bin/Debug/app.publish/InstrukcjeProdukcyjne.exe
ITechService/obj/Debug/ITechService.pdb
Deploy/ITechSite.zip
*.suo
ITechSite/bin/ITechSite.dll
*.pdb
ITechSite/bin/ITechSite.dll
*.pdb
Deploy/ITechSite.deploy.cmd
*.pdb
*.pdb
*.suo
*.pdb
*.exe
*.pdb
*.dll
InstrukcjeProdukcyjne/InstrukcjeProdukcyjne/bin/Debug/InstrukcjeProdukcyjne.application
*.exe