*.cache
*.dll
*.pdb
bin
obj
InstrukcjeProdukcyjne/InstrukcjeProdukcyjne/bin/Debug/app.publish/InstrukcjeProdukcyjne.exe
ITechService/obj/Debug/ITechService.pdb
Deploy/ITechSite.zip
*.suo
ITechSite/bin/ITechSite.dll
*.pdb
ITechSite/bin/ITechSite.dll
ITechSite.v12.suo
*.user
ITechSite.v12.suo