
@{
    ViewBag.Title = "Testy";
}

<h1>Test kompetencji</h1>

<h2>Strona w przygotowaniu. Zapraszamy w terminie późniejszym.</h2>
<div>Tu będzie można zarządzać testami, definiować pytania oraz przeglądać wyniki pracowników</div>
