@model ITechSite.Models.FileData

@{
    ViewBag.Title = "Create2";
}

<h2>Create2</h2>


<form role="form" action="" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label>
            File name
            <input type="text" class="form-control" name="name">
        </label>
    </div>
    <div class="form-group">
        <label>
            File
            <input type="file" name="file">
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
