<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InstrukcjeProdukcyjne.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="izydaoverseerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=www.insofter.pl;user id=grzegorz;password=rakgzech;persistsecurityinfo=True;database=izydaoverseer&quot;" providerName="System.Data.EntityClient" />
    <add name="ITechModelContainer" connectionString="metadata=res://*/ITechModel.csdl|res://*/ITechModel.ssdl|res://*/ITechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COOLER7\SQLEXPRESS;initial catalog=ITech;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITechEntities" connectionString="metadata=res://*/ITechModel.csdl|res://*/ITechModel.ssdl|res://*/ITechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Akacjowa5;initial catalog=ITech;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <InstrukcjeProdukcyjne.Properties.Settings>
      <setting name="WorkDir" serializeAs="String">
        <value>d:\Itech</value>
      </setting>
      <setting name="LocalDir" serializeAs="String">
        <value>C:\ProgramData\Itech</value>
      </setting>
      <setting name="Load" serializeAs="String">
        <value>Yes</value>
      </setting>
    </InstrukcjeProdukcyjne.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceWorkstation" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53854/ServiceWorkstation.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceWorkstation"
        contract="ServiceWorkstation.IServiceWorkstation" name="BasicHttpBinding_IServiceWorkstation" />
    </client>
  </system.serviceModel>
</configuration>