<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ITechEntities" connectionString="metadata=res://*/ITechModel.csdl|res://*/ITechModel.ssdl|res://*/ITechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Akacjowa5;initial catalog=ITech;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="ServiceWebBindingName" transferMode="Streamed" maxReceivedMessageSize="2147483647" >
          <readerQuotas  maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>


    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultRestServiceBehavior">
          <webHttp defaultOutgoingResponseFormat="Xml" defaultBodyStyle="Wrapped" automaticFormatSelectionEnabled="false"/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ITechService.ServiceDokument">
        <endpoint address=""
              binding="webHttpBinding"
              bindingConfiguration="ServiceWebBindingName"
              behaviorConfiguration="DefaultRestServiceBehavior"
              name="ITechService.IServiceDokument"
              contract="ITechService.IServiceDokument" />
      </service>
    </services>
      <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    
  </system.webServer>

</configuration>
