body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
button {
    max-width: 280px;
}/*.btn-default*/

 .form-label
 {
     font-weight: normal;
     padding-top: 7px;
     margin-top: 0;
     margin-bottom: 0;
 }

 .form-inline .form-control {
    display: inline-block;
    width:  auto;
  }

.vertical-align {
    display: flex;
    align-items: center;
}

 .btn-default-big {
    width: 280px;
}/*.btn-default*/

 /*select[multiple],*/
 .form-fullH
 {
    max-height: 80vh;
    min-height : 40vh;
    height : 40vh;

 }

.text-oneline
{
    background-color: yellow;
    max-width: 100%;
    width: 100%
}

.text-News
{
    background-color: yellow;
     max-width: 100%;
     width: 100%
}

.text-Yelow
{
    background-color: yellow;
}

.text-Orange
{
    background-color: orange;
}

.text-Red
{
    background-color: #BC0B0B;
    color: lightgray;
}

.text-Green
{
    background-color: #06B211;
}


.file-content
{
    border : solid;
    border-width : 1px;
    padding: 5px;
    background-color: darkgrey;
    border-radius: 10px;

}

.form-content
{
    border : solid;
    border-width : 1px;
    padding: 5px;
    background-color: #2979FF;
    border-radius: 10px;

}


.dropzone.dz-drag-hover {
    background-color: green;
}


