@model ITechSite.Models.Resource




<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Warianty modelu <span class="badge">@Model.ResourceModelChild.Count()</span> </h4>
    </div>
    <div class="panel-body">
        <div class="form-inline">
            <div>
                @foreach (var item in Model.ResourceModelChild)
                {
                    <div class="form-group">
                        <div class="alert alert-warning">
                            <h4>
                                @Html.Partial("_ResourceType2Image", item)
                            @item.Name
                        </h4>
                        &nbsp;@item.Description
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>



