@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
<link rel="stylesheet" type="text/css" href="~/Areas/Testy/Content/fontawesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="~/Areas/Testy/Content/PagedList.css" />
<link rel="stylesheet" type="text/css" href="~/Areas/Testy/Content/Form.css" />

 <div>
    @RenderBody()
</div>
