<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\projekty\automotive\ITechSite\Deploy\ITechSite.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>www.insofter.pl/itech</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ITechEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=Akacjowa5;Initial Catalog=ITech;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=Akacjowa5;Initial Catalog=ITech;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITechSite.Models.ITechEntities, ITechSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ITechEntitiesAkacjowa" Order="3" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Akacjowa5\;Initial Catalog=ITech;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ITechEntitiesAkacjowa_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ITechModel.csdl|res://*/Models.ITechModel.ssdl|res://*/Models.ITechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Akacjowa5\;initial catalog=ITech;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ITechEntitiesCooler" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=COOLER7\SQLEXPRESS;Initial Catalog=ITech;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ITechEntitiesCooler_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ITechModel.csdl|res://*/Models.ITechModel.ssdl|res://*/Models.ITechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COOLER7\SQLEXPRESS;initial catalog=ITech;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection2" Order="5" Enabled="False">
          <Destination Path="Data Source=Akacjowa5;Initial Catalog=ITech;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=Akacjowa5;Initial Catalog=ITech;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=COOLER7\SQLEXPRESS;Initial Catalog=ITech;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=COOLER7\SQLEXPRESS;Initial Catalog=ITech;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnectionAkacjowa" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Akacjowa5\;Initial Catalog=ITech;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionAkacjowa_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=Akacjowa5\;Initial Catalog=ITech;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ITechEntities2" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITechSite.Models.ITechEntities2, ITechSite" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TestyEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITechSite.Areas.Testy.Models.TestyEntities, ITechSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ITechSite.Models.ApplicationDbContext" Order="10" Enabled="False">
          <Destination Path="Data Source=.\sqlserwer12;Initial Catalog=ITech;Integrated Security=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITechSite.Models.ApplicationDbContext, ITechSite" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=COOLER7\SQLEXPRESS;Initial Catalog=ITech;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=COOLER7\SQLEXPRESS;Initial Catalog=ITech;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection2-Web.config Connection String">
      <ParameterValue>Data Source=Akacjowa5;Initial Catalog=ITech;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnectionAkacjowa-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITechEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ITechModel.csdl|res://*/Models.ITechModel.ssdl|res://*/Models.ITechModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=Akacjowa5;Initial Catalog=ITech;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITechEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITechEntitiesAkacjowa-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITechEntitiesCooler-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITechSite.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlserwer12;Initial Catalog=ITech;Integrated Security=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestyEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ITechSite.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>