@{
    ViewBag.Title = "Rozpocznij test";
}

<div class="test-start content">
    <h2>Rozpocznij test</h2>

    @Html.ActionLink("Generuj test", "Test", new { @resourceId = 7 }, new { @class = "btn btn-start-test" })
    
</div>